*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        background-color: #00467F;
        color: #c19f7a;
}
.formStyle {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #401789;
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 10px;
}
.textInput {
    padding: 0.5rem;
    border: 1px solid #401789;
    border-radius: 5px;
}
.textInput::placeholder {
    color: #401789;
}
.labelCheckbox {
    font-size: 1rem;
}
.labelCheckbox::after {
    content: "*";
}
.textTitle {
    text-align: center;
    padding-bottom: 12px;
}
.buttonSubmit {
    margin-top: 12px;
    padding: 0.5rem;
    border: 1px solid #314755;
    border-radius: 45px;
    background-color: #314755;
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
}

.buttonSubmit:hover {
    background-color: #314755;
    color: whitesmoke;
}

.nameAndAgeContainer {
    display: flex;
    column-gap: 16px;
}

.checkStyle {
   accent-color: #401789;
}
#registered {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(12, 231, 42);


}